<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Familia</title>
</head>
<body> 

    <h1>Mi Familia</h1>

        <table>

            <thead>
                <td>Parentezco</td>
                <td>Nombre</td>
                <td>Edad</td>
                <td>Nacimiento</td>
            </thead>
               
            {% for familiar in familia %}

            <tr>
                <td>{{ familiar.parentezco }}</td>
                <td>{{ familiar.nombre }}</td>
                <td>{{ familiar.edad }}</td>
                <td>{{ familiar.nacimiento }}</td>
            </tr>

            {% endfor %}

        </table>
    
    <h2>Mascotas</h2>

        <table>

            <thead>
                <td>Nombre</td>
                <td>Especie</td>
            </thead>

            {% for mascota in mascotas %}

            <tr>
                <td>{{mascota.nombre}}</td>
                <td>{{mascota.especie}}</td>
            </tr>

            {% endfor %}

        </table>

</body>
</html>